@font-face {
  font-family: "Nunito Sans Light";
  src: url("../fonts/NunitoSans-Light.ttf");
  font-display: block;
}

$light-primary: hsl(215, 16, 92);
$light-secondary: hsl(215, 16, 68);
$light-primary-filter: invert(95%) sepia(9%) saturate(83%) hue-rotate(174deg)
  brightness(100%) contrast(89%);
$light-secondary-filter: invert(69%) sepia(8%) saturate(506%) hue-rotate(175deg)
  brightness(97%) contrast(90%);
$light-shadow-light: hsla(215, 16, 97, 0.5);
$light-shadow-dark: hsla(215, 16, 68, 0.5);
$light-shadow-card: -1vmin -1vmin 1vmin 0 $light-shadow-light,
  2vmin 2vmin 2vmin 0 $light-shadow-dark;
$light-shadow-button: -0.5vmin -0.5vmin 0.5vmin 0 $light-shadow-light,
  1vmin 1vmin 1vmin 0 $light-shadow-dark, 0 0 0 0 $light-shadow-light inset,
  0 0 0 0 $light-shadow-dark inset;
$light-shadow-button-inset: 0 0 0 0 $light-shadow-light,
  0 0 0 0 $light-shadow-dark,
  -0.5vmin -0.5vmin 0.5vmin 0 $light-shadow-light inset,
  1vmin 1vmin 1vmin 0 $light-shadow-dark inset;
$light-border: hsla(0, 0, 100, 0.2);

$dark-primary: hsl(215, 16, 12);
$dark-secondary: hsl(215, 16, 24);
$dark-primary-filter: invert(6%) sepia(6%) saturate(2468%) hue-rotate(173deg)
  brightness(101%) contrast(87%);
$dark-secondary-filter: invert(19%) sepia(16%) saturate(763%) hue-rotate(173deg)
  brightness(94%) contrast(86%);
$dark-shadow-light: hsla(215, 16, 16, 0.5);
$dark-shadow-dark: hsla(215, 16, 8, 0.5);
$dark-shadow-card: -1vmin -1vmin 1vmin 0 $dark-shadow-light,
  2vmin 2vmin 2vmin 0 $dark-shadow-dark;
$dark-shadow-button: -0.5vmin -0.5vmin 0.5vmin 0 $dark-shadow-light,
  1vmin 1vmin 1vmin 0 $dark-shadow-dark, 0 0 0 0 $dark-shadow-light inset,
  0 0 0 0 $dark-shadow-dark inset;
$dark-shadow-button-inset: 0 0 0 0 $dark-shadow-light, 0 0 0 0 $dark-shadow-dark,
  -0.5vmin -0.5vmin 0.5vmin 0 $dark-shadow-light inset,
  1vmin 1vmin 1vmin 0 $dark-shadow-dark inset;
$dark-border: hsla(214, 15, 8, 0.1);

$transparent: hsla(0, 0, 0, 0);

.neu {
  border-style: solid;
  border-width: 1px;
  transition: border-color 0.5s, box-shadow 0.5s;
}

.light-neu {
  @extend .neu;

  border-color: $light-border;
}

.dark-neu {
  @extend .neu;

  border-color: $dark-border;
}

.light-neu-button {
  @extend .light-neu;

  box-shadow: $light-shadow-button;
}

.dark-neu-button {
  @extend .dark-neu;

  border-color: $dark-border;
  box-shadow: $dark-shadow-button;
}

.neu-button-inset {
  transition: box-shadow 0.2s, border-color 0.2s, color 0.2s;
  border-color: $transparent;
}

.light-neu-button-inset {
  @extend .neu-button-inset;

  box-shadow: $light-shadow-button-inset;
}

.dark-neu-button-inset {
  @extend .neu-button-inset;

  box-shadow: $dark-shadow-button-inset;
}

.light-neu-card {
  @extend .light-neu;

  box-shadow: $light-shadow-card;
}

.dark-neu-card {
  @extend .dark-neu;

  box-shadow: $dark-shadow-card;
}

.primary-filter {
  transition: filter 0.5s, opacity 0.2s;
}

.dark-primary-filter {
  @extend .primary-filter;

  filter: $dark-primary-filter;
}

.light-primary-filter {
  @extend .primary-filter;

  filter: $light-primary-filter;
}

.secondary-filter {
  transition: filter 0.2s, opacity 0.2s;
}

.dark-secondary-filter {
  @extend .secondary-filter;

  filter: $dark-secondary-filter;
}

.light-secondary-filter {
  @extend .secondary-filter;

  filter: $light-secondary-filter;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Nunito Sans Light", sans-serif;
  background-color: $light-primary;
  color: $dark-primary;
  transition: background-color 0.5s, color 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.flat {
  border-color: $transparent !important;
  box-shadow: none !important;
  transition: border-color 0.5s box-shadow 0.5s;
}

a {
  color: $dark-primary;
}

a:hover {
  color: $dark-secondary;
  text-decoration: underline;
  transition: color 0.2s;
}

.dark {
  background-color: $dark-primary;
  color: $light-primary;
  transition: background-color 0.5s, color 0.5s;

  a {
    color: $light-primary;
  }

  a:hover {
    color: $light-secondary;
    transition: color 0.2s;
  }
}
