@font-face {
  font-family: "Nunito Sans Light";
  src: url("../fonts/NunitoSans-Light.ttf");
  font-display: block;
}

$dark-primary: #121417;
$dark-secondary: #45505e;
$light-primary: #fff;
$light-secondary: #b9c0cb;

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $light-primary;
  color: $dark-primary;
  transition: background-color 0.5s, color 0.5s;
}

a {
  color: $dark-primary;
  transition: color 0.3s;
}

a:hover {
  color: $dark-secondary;
  transition: color 0.3s;
}

.dark {
  background-color: $dark-primary;
  color: $light-primary;
  transition: background-color 0.5s, color 0.5s;

  a {
    color: $light-primary;
  }

  a:hover {
    color: $light-secondary;
  }

  .theme-switch-svg {
    filter: invert(100%) sepia(3%) saturate(1035%) hue-rotate(217deg)
      brightness(117%) contrast(100%);
  }

  .theme-switch-svg:hover {
    @media (orientation: landscape) {
      filter: invert(86%) sepia(14%) saturate(184%) hue-rotate(177deg)
        brightness(91%) contrast(81%);
    }
  }

  .main-image {
    box-shadow: 0 1px 2vmin 0vmin rgba(255, 255, 255, 0.16);
  }

  .main-image:hover {
    box-shadow: 0 1px 1vmin 0.5vmin rgba(255, 255, 255, 0.02),
      0 1px 2vmin 0.5vmin rgba(255, 255, 255, 0.04),
      0 1px 4vmin 0.5vmin rgba(255, 255, 255, 0.08);
  }
}

.theme-switch {
  width: 6vmin;
  height: 6vmin;
  position: fixed;
  right: 5vmin;
  top: 5vmin;
  padding: 0;
  border: 0;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(255, 255, 255, 0);
  cursor: pointer;
}

.theme-switch-svg {
  border-radius: 100%;
  width: 5vmin;
  height: 5vmin;
  transition: filter 0.3s;
  filter: invert(8%) sepia(7%) saturate(907%) hue-rotate(177deg) brightness(94%)
    contrast(99%);
}

.theme-switch-svg:hover {
  @media (orientation: landscape) {
    filter: invert(29%) sepia(14%) saturate(674%) hue-rotate(174deg)
      brightness(94%) contrast(87%);
    transition: filter 0.3s;
  }
}

.panels {
  display: flex;
  padding: 0 5%;
  @media (orientation: landscape) {
    flex-direction: row;
  }

  @media (orientation: portrait) {
    flex-direction: column;
    margin-top: 5vh;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (orientation: landscape) {
    height: 100vh;
    width: 50%;
  }
}

.first-panel {
  @extend .panel;

  @media (orientation: landscape) {
  }
}

.second-panel {
  @extend .panel;

  @media (orientation: landscape) {
    padding-right: 5vh;
  }
}

.hello {
  font-size: 2vmax;
  height: 8vmax;
  text-align: center;

  h1 {
    font-weight: normal;
    margin: 0;
  }
}

.main-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (orientation: landscape) {
    margin-bottom: 8vw;
  }

  @media (orientation: portrait) {
    margin-bottom: 2vh;
  }
}

.main-image {
  height: 50vmin;
  max-height: 40vmax;
  width: 50vmin;
  max-width: 40vmax;

  border-radius: 100%;
  transition: box-shadow 0.4s;
  box-shadow: 0 1px 2vmin 0vmin rgba(0, 0, 0, 0.64);
}

.main-image:hover {
  box-shadow: 0 1px 1vmin 0.5vmin rgba(0, 0, 0, 0.08),
    0 1px 2vmin 0.5vmin rgba(0, 0, 0, 0.16),
    0 1px 4vmin 0.5vmin rgba(0, 0, 0, 0.32);
  transition: box-shadow 0.4s;
}

.about {
  margin: 4vw;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    margin-bottom: 2vh;
  }

  ul {
    margin: 0;
    margin-top: 0.5vh;
    padding: 0;
    padding-left: 3vh;
    list-style-type: "› ";
  }

  @media (orientation: landscape) {
    font-size: 3vh;

    .small-text {
      font-size: 2vh;
    }
  }

  @media (orientation: portrait) {
    font-size: 4vw;

    .small-text {
      font-size: 3vw;
    }
  }
}

.socials {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (orientation: landscape) {
    max-width: 50vh;

    svg {
      height: 5vh;
    }

    span {
      margin-top: 1vh;
      font-size: 1.5vh;
    }
  }

  @media (orientation: portrait) {
    padding: 0 10%;

    svg {
      height: 8vw;
    }

    span {
      font-size: 2vw;
    }
  }
}
