@font-face {
  font-family: "Nunito Sans Light";
  src: url("../fonts/NunitoSans-Light.ttf");
  font-display: block;
}

$light-primary: hsl(215, 16, 92);
$light-secondary: hsl(215, 16, 76);
$light-primary-filter: invert(95%) sepia(9%) saturate(83%) hue-rotate(174deg)
  brightness(100%) contrast(89%);
$light-secondary-filter: invert(84%) sepia(8%) saturate(320%) hue-rotate(178deg)
  brightness(93%) contrast(87%);
$light-shadow-light: hsla(215, 16, 97, 0.5);
$light-shadow-dark: hsla(215, 16, 68, 0.5);
$light-shadow-card: -0.5vmin -0.5vmin 0.5vmin 0 $light-shadow-light,
  0.5vmin 0.5vmin 0.5vmin 0 $light-shadow-dark;
$light-shadow-button: -0.3vmin -0.3vmin 0.3vmin 0 $light-shadow-light,
  0.3vmin 0.3vmin 1vmin 0 $light-shadow-dark, 0 0 0 0 $light-shadow-light inset,
  0 0 0 0 $light-shadow-dark inset;
$light-shadow-button-inset: 0 0 0 0 $light-shadow-light,
  0 0 0 0 $light-shadow-dark,
  -0.3vmin -0.3vmin 0.3vmin 0 $light-shadow-light inset,
  0.3vmin 0.3vmin 1vmin 0 $light-shadow-dark inset;

$dark-primary: hsl(215, 16, 12);
$dark-secondary: hsl(215, 16, 24);
$dark-primary-filter: invert(6%) sepia(6%) saturate(2468%) hue-rotate(173deg)
  brightness(101%) contrast(87%);
$dark-secondary-filter: invert(19%) sepia(16%) saturate(763%) hue-rotate(173deg)
  brightness(94%) contrast(86%);
$dark-shadow-light: hsla(215, 16, 16, 0.5);
$dark-shadow-dark: hsla(215, 16, 8, 0.5);
$dark-shadow-card: -0.5vmin -0.5vmin 0.5vmin 0 $dark-shadow-light,
  0.5vmin 0.5vmin 0.5vmin 0 $dark-shadow-dark;
$dark-shadow-button: -0.3vmin -0.3vmin 0.3vmin 0 $dark-shadow-light,
  0.3vmin 0.3vmin 1vmin 0 $dark-shadow-dark, 0 0 0 0 $dark-shadow-light inset,
  0 0 0 0 $dark-shadow-dark inset;
$dark-shadow-button-inset: 0 0 0 0 $dark-shadow-light, 0 0 0 0 $dark-shadow-dark,
  -0.3vmin -0.3vmin 0.3vmin 0 $dark-shadow-light inset,
  0.3vmin 0.3vmin 1vmin 0 $dark-shadow-dark inset;

@keyframes fade-in-hello {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-image {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-about {
  0% {
    opacity: 0;
    // box-shadow: none;
  }

  67% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $light-primary;
  color: $dark-primary;
  transition: background-color 0.5s, color 0.5s;
}

a {
  color: $dark-primary;
  transition: color 0.3s;
}

a:hover {
  color: $dark-secondary;
  transition: color 0.3s;
}

button:focus {
  outline: 0;
}

.dark {
  background-color: $dark-primary;
  color: $light-primary;
  transition: background-color 0.5s, color 0.5s;

  a {
    color: $light-primary;
  }

  a:hover {
    color: $light-secondary;
  }

  .theme-switch {
    box-shadow: $dark-shadow-button;
    transition: box-shadow 0.5s;
  }

  .theme-switch:not(.no-hover):hover {
    box-shadow: $dark-shadow-button-inset;
    transition: box-shadow 0.2s;
  }

  .theme-switch-svg {
    filter: $light-primary-filter;
    transition: filter 0.5s;
  }

  .theme-switch-svg:hover {
    @media (orientation: landscape) {
      filter: $light-secondary-filter;
      transition: filter 0.5s;
    }
  }

  .main-image {
    box-shadow: 0 1px 2vmin 0vmin hsla(0, 0, 100, 0.16);
  }

  .main-image:hover {
    box-shadow: 0 1px 1vmin 0.5vmin hsla(0, 0, 100, 0.02),
      0 1px 2vmin 0.5vmin hsla(0, 0, 100, 0.04),
      0 1px 4vmin 0.5vmin hsla(0, 0, 100, 0.08);
  }

  .about {
    box-shadow: $dark-shadow-card;
    transition: box-shadow 0.5s;
  }

  .socials {
    a {
      box-shadow: $dark-shadow-button;
      transition: box-shadow 0.5s;
    }

    a:hover {
      box-shadow: $dark-shadow-button-inset;
      transition: box-shadow 0.2s;
    }
  }

  .error-message {
    box-shadow: $dark-shadow-card;
    transition: box-shadow 0.5s;
  }

  .return {
    box-shadow: $dark-shadow-button;
  }

  .return:hover {
    box-shadow: $dark-shadow-button-inset;
  }
}

.theme-switch {
  width: 7vmin;
  height: 7vmin;
  position: fixed;
  right: 5vmin;
  top: 5vmin;
  padding: 0;
  border: 0;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: fade-in-about linear 1s;

  box-shadow: $light-shadow-button;
  transition: box-shadow 0.5s;
}

.theme-switch:not(.no-hover):hover {
  box-shadow: $light-shadow-button-inset;
  transition: box-shadow 0.2s;
}

.theme-switch-svg {
  border-radius: 100%;
  width: 5vmin;
  height: 5vmin;
  transition: filter 0.3s;
  filter: $dark-primary-filter;
}

.theme-switch-svg:hover {
  @media (orientation: landscape) {
    filter: $dark-secondary-filter;
    transition: filter 0.3s;
  }
}

.panels {
  display: flex;
  padding: 0 5%;
  @media (orientation: landscape) {
    flex-direction: row;
  }

  @media (orientation: portrait) {
    flex-direction: column;
    margin-top: 5vh;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (orientation: landscape) {
    height: 100vh;
    width: 50%;
  }
}

.first-panel {
  @extend .panel;

  @media (orientation: landscape) {
  }
}

.second-panel {
  @extend .panel;

  @media (orientation: landscape) {
    padding-right: 5vh;
  }
}

.hello {
  font-size: 2vmax;
  height: 8vmax;
  text-align: center;
  animation: fade-in-hello linear 0.333s;

  h1 {
    font-weight: normal;
    margin: 0;
  }
}

.main-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: fade-in-image linear 0.666s;

  @media (orientation: landscape) {
    margin-bottom: 8vw;
  }

  @media (orientation: portrait) {
    margin-bottom: 2vh;
  }
}

.main-image {
  height: 50vmin;
  max-height: 40vmax;
  width: 50vmin;
  max-width: 40vmax;

  border-radius: 100%;
  transition: box-shadow 0.4s;
  box-shadow: 0 1px 2vmin 0vmin hsla(0, 0, 0, 0.64);
}

.main-image:hover {
  box-shadow: 0 1px 1vmin 0.5vmin hsla(0, 0, 0, 0.08),
    0 1px 2vmin 0.5vmin hsla(0, 0, 0, 0.16),
    0 1px 4vmin 0.5vmin hsla(0, 0, 0, 0.32);
  transition: box-shadow 0.4s;
}

.about {
  margin: 4vw;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  animation: fade-in-about 1s;
  border-radius: 0.8vmax;

  box-shadow: $light-shadow-card;
  transition: box-shadow 0.5s;

  p {
    margin: 0;
    margin-bottom: 2vh;
  }

  ul {
    margin: 0;
    margin-top: 0.5vh;
    padding: 0;
    padding-left: 3vh;
    list-style-type: "› ";
  }

  @media (orientation: landscape) {
    font-size: 1.6vw;

    .small-text {
      font-size: 1vw;
    }
  }

  @media (orientation: portrait) {
    font-size: 4vw;

    .small-text {
      font-size: 3vw;
    }
  }
}

.about-text {
  margin-bottom: 3vh;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 0.5vmax;

    box-shadow: $light-shadow-button;
    transition: box-shadow 0.5s;
  }

  a:hover {
    box-shadow: $light-shadow-button-inset;
    transition: box-shadow 0.2s;
  }

  @media (orientation: landscape) {
    a {
      height: 4vw;
      width: 4vw;
      padding: 0.2vw;
      margin: 0.2vw 0;
    }

    svg {
      height: 2vmax;
    }

    span {
      font-size: 0.7vmax;
    }
  }

  @media (orientation: portrait) {
    a {
      height: 8vw;
      width: 8vw;
      padding: 1vw;
      margin: 1vw 0;
    }

    span {
      font-size: 2vw;
    }
  }
}

.error-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  width: 40%;
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vmin;
  padding: 5vmin;
  box-shadow: $light-shadow-card;
  transition: box-shadow 0.5s;

  p {
    margin: 0;
    margin-bottom: 2vmin;
  }
}

.return {
  text-decoration: none;
  padding: 0.5vmin 2vmin;
  border-radius: 0.5vmin;
  box-shadow: $light-shadow-button;
  transition: box-shadow 0.2s;
}

.return:hover {
  box-shadow: $light-shadow-button-inset;
  transition: box-shadow 0.2s;
}
