// @font-face {
//   font-family: nunito-sans-light;
//   src: url("./fonts/NunitoSans-Light.ttf");
//   font-display: swap;
// }

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hello {
  font-size: 5vmin;
  text-align: center;
  h1 {
    margin: 2.5vmin 0;
    font-weight: normal;
  }
}

.main-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-image {
  height: 50vmin;
  width: 50vmin;

  border-radius: 100%;
  box-shadow: 0 0 2vmin 1vmin rgba(0, 0, 0, 0.16),
    0 0 4vmin 2vmin rgba(0, 0, 0, 0.08), 0 0 8vmin 4vmin rgba(0, 0, 0, 0.04);
}
