@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans Light", "Open Sans", "Roboto", "Oxygen", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  font-size: 24px !important;
  padding: 8px 0 8px 0 !important;
  i {
    font-size: 24px !important;
  }
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
