@font-face {
  font-family: "Whitney Light";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Whitney Light"), url("/static/whitney.woff2") format("woff2");
}

body {
  font-family: "Whitney Light", "Open Sans light", Roboto, "Lato Light",
    sans-serif;

  position: absolute;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: fixed;
  z-index: -2;
}

.glass {
  background: radial-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.05)),
    url("/static/noise.svg");
  backdrop-filter: blur(20px);
  border: 1px solid rgba(102, 102, 102, 0.2);
  border-radius: 1vw;
}

main {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin-top: 0;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 1.4vw;
}

h3 {
  font-size: 1.2vw;
}

p {
  font-size: 1.5vw;
  margin-top: 0;
  margin-bottom: 1vw;
}

a {
  text-decoration: none;
  color: #fff;
}

#cover {
  background-color: #000;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hide-cover {
  opacity: 0;
  transition: opacity 0.2s;
}

#left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-picture {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
}

#right {
  box-sizing: border-box;
  width: 60vw;
  padding: 2vw;
}

#coda-link {
  transition: color 0.2s;
}

#coda-link:hover {
  color: #f63;
  transition: color 0.1s;
}

.hr-container {
  width: 100%;
}

hr {
  width: 90%;
  margin: 0;
  margin-bottom: 1vw;
  border: 0.5px solid rgba(153, 153, 153, 0.4);
  border-radius: 0.25px;
}

.card {
  border-radius: 1vw;
  border: 1px solid rgba(102, 102, 102, 0.4);
  background-color: rgba(102, 102, 102, 0.2);
  transition: background-color 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card:hover {
  background-color: rgba(153, 153, 153, 0.2);
  transition: background-color 0.1s;
}

#project-row {
  margin-bottom: 2vw;
}

.project {
  width: 15vw;

  padding: 2vw 0;
}

.project p {
  font-size: 0.8vw;
  margin-bottom: 0;
  border-radius: 1em;
}

.social {
  height: 5vw;
  width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  color: #ccc;
}

.social-white {
  transition: opacity 0.2s;
  color: #fff;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.social-white:hover {
  opacity: 0;
  transition: opacity 0.1s;
}

.social img {
  height: 2vw;
}

.social span {
  font-size: 0.8vw;
}
